/* style pour cupcakes_autres */

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* AJOUT DE BOX-SIZING */

* {
    box-sizing: border-box;
}

/* FIN DU RESET  */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

body {
    background: repeating-linear-gradient(90deg, #E2C9D7, #E2C9D7 20px, #E9D2DF 0, #E9D2DF 40px);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 600px;
}

#conteneur {
    width: 900px;
    margin: auto;
}

img {
    max-width: 100%;
}

/* STYLE DE HEADER  */

header {
    height: 100px;
    max-width: 100%;
    background-color: #fff;
    display: flex;
    /* on les espace un à droite, un à gauche  */
    justify-content: space-between;
}

header .logo {
    width: 100px;
}

header h1 {
    text-align: end;
    color: #b934a2;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bolder;
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}

header address {
    text-align: right;
    padding: 0 10px;
}

/* FIN DE HEADER */

/* STYLE DE DIV .A-PROPOS  */

.section-01 {
    background-color: #b934a2;
    color: #fff;
    padding: 20px 80px;
    font-size: 1.3em;
    line-height: 24px;
}

.ps {
    font-size: 13px;
    padding: 15px 0;
}

/* FIN DE DIV .A-PROPOS */

/* STYLE DE CUPCAKE OF THE DAY (COD) */

.section-02 {
    background: rgba(255, 255, 255, 0.5);
}

h2 {
    font-weight: bold;
    font-size: 1.6em;
    padding: 30px 20px 0 20px;
    font-family: 'Oswald', sans-serif;
}

.section-02 img {
    padding: 10px;
}

.section-02 .description {
    padding: 20px;
    margin-bottom: 10px;
}

.section-02 .texte-cod {
    padding: 10px;
}

/* style du bouton  */
button {
    margin-top: 10px;
    background: #b934a2;
    color: #fff;
    padding: 5px 20px;
    font-weight: 800;
}

h3 {
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 0 10px 0;
    font-family: 'Oswald', sans-serif;
}

/* FIN DE COD */

/* STYLE DE LA GALERIE  */

.section-03 figure {
    padding: 10px;
    display: flex;
    flex-flow: column;
}

.section-03 img {
    max-width: 100%;
}

.section-03 figcaption {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    min-height: 100px;
}

/* FIN DE STYLE DE LA GALERIE */

/* STYLE DU FOOTER  */


/* STYLE DU TABLEAU DES HORAIRES  */

.horaire {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    height: 225px;
}

.horaire table {
    background: #fff;
    width: 100%;
    padding: 10px;
    height: auto;
}

table td {
    padding: 4px;
}

/* les rangées impaires sont en violet  */
.horaire table tr:nth-of-type(odd) {
    background-color: #c761b4;
}

/* les informations dans les cellules paires sont à droite */
.horaire table td:nth-of-type(even) {
    text-align: right;
}

/* FIN DDU TABLEAU DES HORAIRES */

/* STYLE POUR LE LIEU  */

footer img {
    max-width: 100%;
    padding: 0 10px;
}

footer .lieu {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

footer address {
    font-style: italic;
    padding: 0 5px;
}

/* FIN DU STYLE POUR LE LIEU  */
/* FIN DU FOOTER  */

/* La classe pour créer une rangée */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Les colonnes*/
.col-1 {
    width: 6.333333%;
    margin: 1%;
}
.col-2 {
    width: 14.6666%;
    margin: 1%;
}
.col-3 {
    width: 23%;
    margin: 1%;
}
.col-4 {
    width: 31.333333%;
    margin: 1%;
}
.col-5 {
    width: 39.6666666%;
    margin: 1%;
}
.col-6 {
    width: 48%;
    margin: 1%;
}
.col-7 {
    width: 56.333333%; 
    margin: 1%;
}
.col-8 {
    width: 64.666666%;
    margin: 1%; 
}
.col-9 {
    width: 73%;
    margin: 1%;  
}
.col-10 {
    width: 81.333333%;
    margin: 1%;  
}
.col-11 {
    width: 89.666666%;
    margin: 1%;   
}
.col-12 {
    width: 98%;
    margin: 1%;   
}
/* les marges */

.marge-1 {
    margin-left: 8.333333%;
}
.marge-2 {
    margin-left: 16.666666%;
}

/* le responsive */


/* pour portable  */
@media (min-width: 321px) and (max-width: 767px) {
    #conteneur {
        width: 500px;
    }

    header {
        height: 245px;
        margin: auto;
        display: flex;
        flex-flow: column;
    }

    header h1 {
        text-align: center;
        margin: 10px;
    }

    header address {
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
    }

    header .logo {
        margin: auto;
    }

    .section-01 {
        height: 190px;
        padding: 10px 40px;
        font-size: 1em;
    }

    .section-01 .ps {
        font-size: 0.9em;
    }
    
    #description {
        margin-top: 100px;
    }

    /* les colonnes en xs */
    .col-xs-4 {
        width: 31.3333333%;
        margin: 1%;
    }

    .col-xs-6 {
        width: 48%;
        margin: 1%;
    }

    .col-xs-8 {
        width: 64.666666%;
        margin: 1%;  
    }
    
    .col-xs-12 {
        width: 98%;
        padding: 1%;
    }
}

/* pour tablette */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #conteneur {
        width: 700px;
    }

    header {
        display: flex;
        flex-flow: column;
        margin: auto;
        height: 240px;
    }

    header h1 {
        text-align: center;
        margin-top: 5px;
    }

    header address {
        text-align: center;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header .logo {
        margin: 0 auto;
    }

    .section-01 {
        height: 190px;
        padding: 10px 40px;
        font-size: 1em;
    }

    .section-01 .ps {
        font-size: 0.9em;
    }

    #description {
        margin-top: 150px;
    }

    /* les colonnes en sm */
    .col-sm-4 {
        width: 31.3333333%;
        margin: 1%;
    }

    .col-sm-6 {
        width: 48%;
        margin: 1%;
    }

    .col-sm-8 {
        width: 64.666666%;
        margin: 1%;  
    }
    
    .col-sm-12 {
        width: 98%;
        padding: 1%;
    }

    .marge-sm-3 {
        margin-left: 25%;
    }

}