/* Styles css pour cupcakes*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* déclaration des couleurs en :root */
:root {
    --pink: #bd549f;
    --blanc: #fff;
    --noir: #000;
}

body {
    background: repeating-linear-gradient(90deg, #E2C9D7, #E2C9D7 20px, #E9D2DF 0, #E9D2DF 40px);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0 auto;
    width: 60%;
    background-color: var(--blanc); 
}

header {
    margin: 0 auto;
    display: flex;
    height: 150px;
    width: 800px;
    background-color: var(--blanc);
    justify-content: space-between;
    padding: 15px;

}/*  déclaration des colonnes */
.row {
    display: flex;
    flex-flow: row wrap;
}

.col-1 {
    width: 6.333333%;
    margin: 1%;
}
.col-2 {
    width: 14.6666%;
    margin: 1%;
}
.col-3 {
    width: 23%;
    margin: 1%;
}
.col-4 {
    width: 31.333333%;
    margin: 1%;
}
.col-5 {
    width: 39.6666666%;
    margin: 1%;
}
.col-6 {
    width: 48%;
    margin: 1%;
}
.col-7 {
    width: 56.333333%; 
    margin: 1%;
}
.col-8 {
    width: 64.666666%;
    margin: 1%; 
}
.col-9 {
    width: 73%;
    margin: 1%;  
}
.col-10 {
    width: 81.333333%;
    margin: 1%;  
}
.col-11 {
    width: 89.666666%;
    margin: 1%;   
}
.col-12 {
    width: 98%;
    margin: 1%;   
}

/* Déclkaration des mediaqueries */

@media screen and (max-width: 800px) {
    .conteneur {
        width: 100%;
    }

    /* ici on déclare que notre colonne doit faire toute la largeur de son parent donc 100% */
    .col-xs-12 {
        width: 100%;
    }

    header {
        padding-left: 0;
        flex-flow: column wrap;
        text-align: center;
    }

    nav a {
        padding: 5px;
    }

    /* pour les tablettes  */
    @media screen and (min-width: 801px) and (max-width: 1200px)  { 
        .conteneur {
            width: 100%;
        }
    
        .col-md-12 {
            width: 100%;
        }
    }
}




